@model Slider
@{ 
    ViewData["Title"] = "Slider detail";
}
<div class="container mt-5">
    <h4>Slider</h4>
    <p>@Model.MainTitle</p>
    <div>
        <a class="btn btn-primary" asp-action="Index">Go back</a>
    </div>
</div>