@model List<Slider>
@{
    ViewData["Title"] = "Slider";
}

<section id="carousel">
    <div class="owl-carousel first-carousel owl-theme">
       <partial name ="_SliderSectPartialView" />
    </div>
</section>